@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

body * {
	z-index: 10;
	box-shadow: border-box;
}

:root {
	--color-red: #E93C32;
	--color-purple: #7A0C9A;
	--color-dark-purple: #4B055A;
}

::selection, ::-moz-selection  {
	background: var(--color-red);
	color: #FFF;
}

html {
	color: #000;
}


img {
	max-width: 100%;
	max-height: 100%;
	image-rendering: auto;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Winky Rough", sans-serif;
	background-image: url("../img/fond7-32.gif");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	image-rendering: pixelated;
	color: #FFF;
	font-size: 18px;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-shadow: 0px 0px 20px #FFF5;
}

.bold {
	font-weight: bold;
}


header {
	padding: 30px 0 10px 0;
	color: #FFF;
	position: relative;
}


#paddingHeader {
	display: none;
}

h1 {
	margin: 0 auto;
	width: 540px;
	max-width: 100%;
	text-align: center;
}

h2 {
	text-align: center;
}


ul {
	list-style-type: none;
	padding-left: 10px;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

nav li:before {
	content: "";
	display: inline-block;
	position: relative;
	right: 10px;
	width: 8px;
	height: 5px;
	background-image: url("../img/ArrowSite.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 0;
	transform: scale(2);
	vertical-align: middle;
}
nav li:hover:before {
	opacity: 1;
}

nav li a:hover {
	text-decoration: underline;
}

nav li {
	min-width: 120px;
}

nav {
	padding: 20px;
	margin: 0 auto;
	max-width: 540px;
	border-radius: 10px;
	transition: ease-out 0.2s;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

nav h2, article h2 {
	text-align: left;
	padding-left: 25px;
}



article {
	background: #FFF0;
	backdrop-filter: blur(0px);
	margin: 15px auto;
	max-width: 90%;
	position: relative;
	transition: ease-out 0.2s;
	border: 24px solid transparent;
	border-image: url("../img/border-4.gif") 6 round;
}



img.clickable {
	opacity: 0.7;
	transition: ease-out 0.2s;
	cursor: pointer;
	max-height: 300px;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	scale: 0.96;
	rotate: 1deg;
}

img.clickable:hover {
	opacity: 1;
	scale: 1;
	rotate: 0deg;
}


ul.presentation {
	padding-left: 2%;
	max-width: 95%;
}
ul.presentation li {
	transition: ease-out 0.2s;
	border-radius: 5px;
	padding-left: 5px;
	border-top: 1px solid #FFF0;
	border-left: 1px solid #FFF0;
	line-height: 175%;
}
ul.presentation li:hover {
	padding-left: 10px;
	background: #FFFFFF11;
	border-top: 1px solid #FFF4;
	border-left: 1px solid #FFF4;
}


.pathcontainer {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: center;
	text-align: center;
	max-width: 720px;
	margin: auto;
}



.pathcontainer div {
	width: 150px;
	margin: 15px;
	padding: 15px;
	border-radius: 5px;
	background: #e93c3205;
	border: 1px solid #FFFFFF22;
	transition: 0.2s ease-out;
}

.pathcontainer div:hover {
	border: 1px solid #FFFFFF55;
	background: #e93c3211;
}

.pathcontainer div.tumblr:hover {background: #1a273588}
.pathcontainer div.youtube:hover {background: #ff003344}
.pathcontainer div.github:hover {background: #0d111788}
.pathcontainer div.bluesky:hover {background: #0F73FF44}
.pathcontainer div.mastodon:hover {background: #5b4be144}
.pathcontainer div.instagram:hover {background: #ff005f33}
.pathcontainer div.deviantart:hover {background: #314537CC}
.pathcontainer div.furaffinity:hover {background: #2e3b41CC}
.pathcontainer div.bandcamp:hover {background: #0CACD755}
.pathcontainer div.redbubble:hover {background: #e4132133}
.pathcontainer div.cara:hover {background: #00000088}

.pathcontainer img {
	filter: invert(1);
	opacity: 0.75;
	transition: 0.5s ease-out;
}

.pathcontainer a {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	padding: 5px;
	transition: 0.2s ease-out;
	mix-blend-mode: plus-lighter;
	border: 1px solid #FFF2;
	box-shadow: 0px 0px 0px #FFF2;
	margin: 5px auto;
	background: linear-gradient(to top,
		#D485B500 0%,
		#D485B500 40%,
		#D485B522 60%,
		#D485B555 100%);
}

.pathcontainer a:hover {
	background: linear-gradient(to top,
		#D485B500 0%,
		#D485B500 49%,
		#d4c5c622 51%,
		#d4c5c655 100%);
	box-shadow: 0px 0px 15px #FFF5;
	border: 1px solid #FFF5;
}
.pathcontainer a:active {
	background: linear-gradient(to bottom,
		#D485B511 0%,
		#D485B511 40%,
		#d4c5c622 60%,
		#d4c5c622 100%);
}
.pathcontainer div:hover img {
	opacity: 0.9;
}
.pathcontainer a:hover img {
	opacity: 0.95;
}
.pathcontainer a:active img {
	opacity: 0.4;
}



#cursor-effect {
	display: none;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #f8e1ff55;
	opacity: 0.2;
	filter: blur(50px);
	box-shadow: 0 0 20px #FFF;
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;
	z-index: 5;
	transform: scale(10);
	mix-blend-mode: plus-lighter;
	image-rendering: pixelated;
}

#image-viewer {
	user-select: none;
	display: none;
	position: fixed;
	border-radius: 5px;
	z-index: 15;
	cursor: pointer;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
	background: #0005;
}

#image-viewer img {
	display: block;
	margin: auto;
	max-width: 90%;
	max-height: 90%;
	border-radius: 5px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#image-viewer a {
	display: block;
	position: absolute;
	right: 0;
	padding-right: 5px;
	padding-top: 2px;

}

@media (min-width: 630px) {
	.pathcontainer.uptodate div {
		flex-basis: 25%;
	}
	.pathcontainer.lessactive div {
		flex-basis: 20%;
	}
}


@media (min-width: 1280px) {

	h2 {
		text-align: center;
	}

	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 125px;
		background-image: url("../img/bgArt.png");
	}
	nav ul {
		display: block;
	}
	nav li {
		display: block;
		min-width: 0;
	}
	main, header {
		margin-left: 125px;
	}
	
	main.dual {
		display: flex;
		flex-wrap: wrap;
	}

	article {
		margin: 15px auto;
		max-width: 540px;
	}


	article:hover {
		background: #FFFFFF05;
		backdrop-filter: blur(5px);
	}

	.block.presentation {
		width: 40%;
	}
	.block.reference {
		width: 60%;
	}


	ul.presentation {
		width: 350px;
		margin: 15px auto;
	}



	#image-viewer {
		backdrop-filter: blur(50px);
	}
	#image-viewer img {
		box-shadow: 0 0 300px #FFFFFF05;
		border: 1px solid #FFFFFF55;
	}
	#cursor-effect {
		display: block;
	}
}